DATASET_ID=served

REGION=southamerica-east1

TRAIN_PROJECT_ID=prj-meuproduto-mdl-prd
SERVING_PROJECT_ID=prj-meuproduto-inf-prd
HUB_PROJECT_ID=prj-hub-poc

TRAIN_PIPELINE_ROOT=gs://bucket-data-meuproduto-mdl/pipeline_root
SERVING_PIPELINE_ROOT=gs://bucket-data-meuproduto-inf/pipeline_root

TRAIN_SERVICE_ACCOUNT=sa-vertex-ai-pipeline@prj-meuproduto-mdl-prd.iam.gserviceaccount.com
SERVING_SERVICE_ACCOUNT=sa-vertex-ai-pipeline@prj-meuproduto-inf-prd.iam.gserviceaccount.com

ARTIFACT_REGISTRY_INDEX_URL=https://southamerica-east1-python.pkg.dev/prj-artifact-services-prd/acr-artifact-prd-001/simple/

WORKFLOW_NAME=meuproduto-model-promotion-workflow

DATAFORM_REPOSITORY_ID=df-repo-meuproduto
DATAFORM_SA_PREFIX_TRAIN=sa-df-meuproduto-mdl
DATAFORM_SA_PREFIX_SERVING=sa-df-meuproduto-inf

DATA_EXCHANGE_ID=exchange_meuproduto
LISTING_ID=listing_meuproduto
LISTING_PROD_ENABLED=True

SCHEDULE_NPROD_ENABLED=True
SCHEDULE_PROD_ENABLED=True

WORKERPOOL_DEV=workerpool-meuproduto-mdl
WORKERPOOL_PROD=workerpool-meuproduto-inf

CLOUDBUILD_SERVICE_ACCOUNT_NPRD=projects/prj-meuproduto-mdl-prd/serviceAccounts/sa-cloudbuild-mdl@prj-meuproduto-mdl-prd.iam.gserviceaccount.com
CLOUDBUILD_SERVICE_ACCOUNT_PRD=projects/prj-meuproduto-inf-prd/serviceAccounts/sa-cloudbuild-inf@prj-meuproduto-inf-prd.iam.gserviceaccount.com
